html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #f8f9fa;
    /* Example background color for the header */
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    /* Optional: Add a border to separate the header from the map */
    z-index: 1;
    /* Ensure header is on top */
}

#viewDiv {
    flex: 1;
    /* Take up the remaining space */
    overflow: hidden;
    /* Prevent overflow */
    width: 100%;
    height: calc(100vh - 50px);
    /* Adjust based on the header's height */
}


#basemapStyles {
    width: 250px;
    padding: 10px;
}

.esri-popup__content-container img {
    max-width: 100%;
    /* Make sure the image fits within the popup */
    height: auto;
}